/* Ashti css */

section {
    display: flex;
    flex-direction: row;
    background-color: #c2c2c2;
    min-height: 375px;
    width: 94%;
    margin: 3%;
    padding: 3%;

}

.butikbild {
    width: 100%;
    margin-top: 60px;
    aspect-ratio: 564/846;
}


section figure {
    flex-grow: 1;

}

section article {
    text-align: center;
    flex-grow: 2;
    font-family: 'Cookie', cursive;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 30px;
    overflow: auto;
}

section article h1 {
    font-size: 2em;
    margin: 1em;
}

section article h3 {
    margin: 1em;
    margin-bottom: 3em;
}